data/
mlartifacts/
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
*.pyc
notebooks/**
notebooks
notebooks/
notebooks/*
./notebooks/
/notebooks/*
P5.ipynb
notebooks/P5.ipynb
requirements.txt